/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  font-size: 1.2rem;
  padding: 20px 25px;
  background-color: #ff900e;
  color: white;
  border-style: none;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.text-grey {
  color: #727272;
  font-weight: 400;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* header styles */

header {
  background-color: bisque;
  padding: 50px 240px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
}

/* banner styles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner-description {
  text-align: center;
  font-size: 1rem;
}

.banner-image {
  width: 100%;
  margin-top: 50px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.teams-container {
  display: flex;
  align-items: center;
  margin-top: 85px;
}

.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-content {
  padding: 0px 70px;
}

.teams-title {
  font-size: 3.5rem;
}

.quick-list {
  color: #727272;
  font-weight: 500;
}

.featured {
  color: #ff900e;
}

.teams-description {
  font-size: 1rem;
}

/* facts section  */

.facts-card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ff900e;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card-stats {
  font-size: 3.2rem;
  color: #424242;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-title {
  font-size: 1.2rem;
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* responsive media query */

/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav {
    flex-direction: column;
  }

  .teams-container {
    flex-direction: column;
  }
  .teams-img {
    grid-template-columns: 1fr;
  }

  .team-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* tablet and medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }
  .teams-container {
    flex-direction: column;
  }
}
